CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

CONFIG_MCP_TRANSPORT_HTTP_SERVER=y
CONFIG_MCP_TRANSPORT_HTTP_CLIENT=n
CONFIG_MCP_HTTP_SSE_ENABLE=n
CONFIG_MCP_HTTP_AUTH_ENABLE=n
CONFIG_MCP_HTTP_OAUTH_METADATA_ENABLE=n
CONFIG_MCP_TOOLCALL_STACK_SIZE=8192
CONFIG_MCP_TOOLLIST_MAX_SIZE=4096

CONFIG_FIXTURE_WIFI_MODE_AP=y
CONFIG_FIXTURE_MCP_PORT=80
CONFIG_FIXTURE_MCP_ENDPOINT="mcp"
